<div class="col-xs-3">
  <h2>User info</h2>
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg" %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th> <%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
      </tbody>
    </table>
    <% if current_user.id == user.id %>
    <div class="row">
      <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
    </div>
    <% else %>
        <div>
          <br>
          <br>
        </div>
    <% end %>


    <h2>New book</h2>
    <%= form_for(book_new) do |f| %>
      <% if book_new.errors.any? %>
        <div id="error_explanatin">
          <h3> error</h3>
           <% book_new.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
           <% end %>
        </div>
      <% end %>
      <div class="field row">
        <%= f.label :Title %><br>
        <%= f.text_field :title, class: "col-xs-12 book_title" %>
      </div>
      <div class="field row">
        <%= f.label :Opinion %><br>
        <%= f.text_area :body, class: "col-xs-12 book_body" %>
      </div>
      <div class="actions row">
        <%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
      </div>
    <% end %>
</div>